<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Transaction
    </h1>
    <ol class="breadcrumb">
      <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Transaction</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">

        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">Semua</a></li>
            <li><a href="#belum-dibayar" data-toggle="tab">Belum Dibayar</a></li>
            <li><a href="#perlu-dikirim" data-toggle="tab">Perlu Dikirim</a></li>
            <li><a href="#dikirim" data-toggle="tab">Dikirim</a></li>
            <li><a href="#selesai" data-toggle="tab">Selesai</a></li>
            <li><a href="#pembatalan" data-toggle="tab">Pembatalan</a></li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
              <div class="box-body table-responsive no-padding">
                <table id="transaction-all" class="table table-hover">
                  <thead>
                    <th>No.</th>
                    <th>ID Pesanan</th>
                    <th>Tanggal</th>
                    <th>Waktu</th>
                    <th>Nama Pemesan</th>
                    <th>Status</th>
                    <th>Total Pembayaran</th>
                    <th>Aksi</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < transaction_all.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction_all[i].noPesanan %></td>
                      <td><%= transaction_all[i].dateOfTransaction %></td>
                      <td><%= transaction_all[i].waktu %></td>
                      <td><%= transaction_all[i].Customer.name %></td>
                      <td>
                        <span class="pull-right-container">
                          <% if(transaction_all[i].status === "Lunas") { %>
                          <small class="label pull-center bg-blue"> <%= transaction_all[i].status %></small>
                          <% } else if(transaction_all[i].status === "Batal") { %>
                          <small class="label pull-center bg-red"> <%= transaction_all[i].status %></small>
                          <% } else { %>
                          <small class="label pull-center bg-orange"> <%= transaction_all[i].status %></small>
                          <% } %>
                        </span>
                      </td>
                      <td><%= transaction_all[i].totalHarga %></td>
                      <td>
                        <button class="btn btn-success btn-xs" onclick="update_status(`<%= transaction_all[i].id %>`)"
                          data-id="<%= transaction_all[i].id %>">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          Detail
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.tab-pane -->
            <!-- start tab belum dibayar -->

            <div class="tab-pane" id="belum-dibayar">
              <div class="box-body table-responsive no-padding">
                <table id="transaction-belum-dibayar" class="table table-hover">
                  <thead>
                    <th>No.</th>
                    <th>ID Pesanan</th>
                    <th>Tanggal</th>
                    <th>Waktu</th>
                    <th>Nama Pemesan</th>
                    <th>Status</th>
                    <th>Total Pembayaran</th>
                    <th>Aksi</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < transaction_pendding.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction_pendding[i].noPesanan %></td>
                      <td><%= transaction_pendding[i].dateOfTransaction %></td>
                      <td><%= transaction_pendding[i].waktu %></td>
                      <td><%= transaction_pendding[i].Customer.name %></td>
                      <td>
                        <span class="pull-right-container">
                          <% if(transaction_pendding[i].status === "Lunas") { %>
                          <small class="label pull-center bg-blue"> <%= transaction_pendding[i].status %></small>
                          <% } else if(transaction_pendding[i].status === "Batal") { %>
                          <small class="label pull-center bg-red"> <%= transaction_pendding[i].status %></small>
                          <% } else { %>
                          <small class="label pull-center bg-orange"> <%= transaction_pendding[i].status %></small>
                          <% } %>
                        </span>
                      </td>
                      <td><%= transaction_pendding[i].totalHarga %></td>
                      <td>
                        <button class="btn btn-success btn-xs"
                          onclick="update_status(`<%= transaction_pendding[i].id %>`)"
                          data-id="<%= transaction_pendding[i].id %>">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          Detail
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end tab belum dibayar -->

            <!-- start tab perlu dikirim -->
            <div class="tab-pane" id="perlu-dikirim">
              <div class="box-body table-responsive no-padding">
                <table id="transaction-perlu-dikirim" class="table table-hover">
                  <thead>
                    <th>No.</th>
                    <th>ID Pesanan</th>
                    <th>Tanggal</th>
                    <th>Waktu</th>
                    <th>Nama Pemesan</th>
                    <th>Status</th>
                    <th>Total Pembayaran</th>
                    <th>Aksi</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < transaction_lunas.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction_lunas[i].noPesanan %></td>
                      <td><%= transaction_lunas[i].dateOfTransaction %></td>
                      <td><%= transaction_lunas[i].waktu %></td>
                      <td><%= transaction_lunas[i].Customer.name %></td>
                      <td>
                        <span class="pull-right-container">
                          <% if(transaction_lunas[i].status === "Lunas") { %>
                          <small class="label pull-center bg-blue"> <%= transaction_lunas[i].status %></small>
                          <% } else if(transaction_lunas[i].status === "Batal") { %>
                          <small class="label pull-center bg-red"> <%= transaction_lunas[i].status %></small>
                          <% } else { %>
                          <small class="label pull-center bg-orange"> <%= transaction_lunas[i].status %></small>
                          <% } %>
                        </span>
                      </td>
                      <td><%= transaction_lunas[i].totalHarga %></td>
                      <td>
                        <button class="btn btn-success btn-xs" onclick="update_status(`<%= transaction_lunas[i].id %>`)"
                          data-id="<%= transaction_lunas[i].id %>">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          Detail
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end tab perlu dikirim -->

            <!-- start tab perlu dikirim -->
            <div class="tab-pane" id="dikirim">
              <div class="box-body table-responsive no-padding">
                <table id="transaction-dikirim" class="table table-hover">
                  <thead>
                    <th>No.</th>
                    <th>ID Pesanan</th>
                    <th>Tanggal</th>
                    <th>Waktu</th>
                    <th>Nama Pemesan</th>
                    <th>Status</th>
                    <th>Total Pembayaran</th>
                    <th>Aksi</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < transaction_lunas.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction_lunas[i].noPesanan %></td>
                      <td><%= transaction_lunas[i].dateOfTransaction %></td>
                      <td><%= transaction_lunas[i].waktu %></td>
                      <td><%= transaction_lunas[i].Customer.name %></td>
                      <td>
                        <span class="pull-right-container">
                          <% if(transaction_lunas[i].status === "Lunas") { %>
                          <small class="label pull-center bg-blue"> <%= transaction_lunas[i].status %></small>
                          <% } else if(transaction_lunas[i].status === "Batal") { %>
                          <small class="label pull-center bg-red"> <%= transaction_lunas[i].status %></small>
                          <% } else { %>
                          <small class="label pull-center bg-orange"> <%= transaction_lunas[i].status %></small>
                          <% } %>
                        </span>
                      </td>
                      <td><%= transaction_lunas[i].totalHarga %></td>
                      <td>
                        <button class="btn btn-success btn-xs" onclick="update_status(`<%= transaction_lunas[i].id %>`)"
                          data-id="<%= transaction_lunas[i].id %>">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          Detail
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end tab perlu dikirim -->
            <!-- start tab perlu dikirim -->
            <div class="tab-pane" id="selesai">
              <div class="box-body table-responsive no-padding">
                <table id="transaction-selesai" class="table table-hover">
                  <thead>
                    <th>No.</th>
                    <th>ID Pesanan</th>
                    <th>Tanggal</th>
                    <th>Waktu</th>
                    <th>Nama Pemesan</th>
                    <th>Status</th>
                    <th>Total Pembayaran</th>
                    <th>Aksi</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < transaction_lunas.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction_lunas[i].noPesanan %></td>
                      <td><%= transaction_lunas[i].dateOfTransaction %></td>
                      <td><%= transaction_lunas[i].waktu %></td>
                      <td><%= transaction_lunas[i].Customer.name %></td>
                      <td>
                        <span class="pull-right-container">
                          <% if(transaction_lunas[i].status === "Lunas") { %>
                          <small class="label pull-center bg-blue"> <%= transaction_lunas[i].status %></small>
                          <% } else if(transaction_lunas[i].status === "Batal") { %>
                          <small class="label pull-center bg-red"> <%= transaction_lunas[i].status %></small>
                          <% } else { %>
                          <small class="label pull-center bg-orange"> <%= transaction_lunas[i].status %></small>
                          <% } %>
                        </span>
                      </td>
                      <td><%= transaction_lunas[i].totalHarga %></td>
                      <td>
                        <button class="btn btn-success btn-xs" onclick="update_status(`<%= transaction_lunas[i].id %>`)"
                          data-id="<%= transaction_lunas[i].id %>">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          Detail
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end tab perlu dikirim -->


            <!-- start tab perlu dikirim -->
            <div class="tab-pane" id="pembatalan">
              <div class="box-body table-responsive no-padding">
                <table id="transaction-pembatalan" class="table table-hover">
                  <thead>
                    <th>No.</th>
                    <th>ID Pesanan</th>
                    <th>Tanggal</th>
                    <th>Waktu</th>
                    <th>Nama Pemesan</th>
                    <th>Status</th>
                    <th>Total Pembayaran</th>
                    <th>Aksi</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < transaction_cencel.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction_cencel[i].noPesanan %></td>
                      <td><%= transaction_cencel[i].dateOfTransaction %></td>
                      <td><%= transaction_cencel[i].waktu %></td>
                      <td><%= transaction_cencel[i].Customer.name %></td>
                      <td>
                        <span class="pull-right-container">
                          <% if(transaction_cencel[i].status === "Lunas") { %>
                          <small class="label pull-center bg-blue"> <%= transaction_cencel[i].status %></small>
                          <% } else if(transaction_cencel[i].status === "Batal") { %>
                          <small class="label pull-center bg-red"> <%= transaction_cencel[i].status %></small>
                          <% } else { %>
                          <small class="label pull-center bg-orange"> <%= transaction_cencel[i].status %></small>
                          <% } %>
                        </span>
                      </td>
                      <td><%= transaction_cencel[i].totalHarga %></td>
                      <td>

                        <button class="btn btn-success btn-xs"
                          onclick="update_status(`<%= transaction_cencel[i].id %>`)"
                          data-id="<%= transaction_cencel[i].id %>">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          Detail
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end tab perlu dikirim -->
          </div>
          <!-- /.tab-content -->
        </div>

        <!-- /.nav-tabs-view -->
      </div>
    </div>
  </section>
</div>
<!-- /.content -->




<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#transaction-all').DataTable();
    $('#transaction-belum-dibayar').DataTable();
    $('#transaction-perlu-dikirim').DataTable()
    $('#transaction-dikirim').DataTable();
    $('#transaction-selesai').DataTable();
    $('#transaction-pembatalan').DataTable()

  })
</script>