<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Transaction
    </h1>
    <ol class="breadcrumb">
      <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Transaction</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">

        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#activity" data-toggle="tab">Semua</a></li>
            <li><a href="#belum-dibayar" data-toggle="tab">Belum Dibayar</a></li>
            <li><a href="#perlu-dikirim" data-toggle="tab">Perlu Dikirim</a></li>
            <li><a href="#dikirim" data-toggle="tab">Dikirim</a></li>
            <li><a href="#selesai" data-toggle="tab">Selesai</a></li>
            <li><a href="#pembatalan" data-toggle="tab">Pembatalan</a></li>
          </ul>
          <div class="tab-content">
            <!-- include tab transaction all -->
            <%- include tab_transaction_all %>

            <!-- include tab transaction pendding -->
            <%- include tab_transaction_pendding %>

            <!-- include tab transaction need to be sent -->
            <%- include tab_transaction_needtobesent %>

            <!-- include tab transaction sent -->
            <%- include tab_transaction_sent %>

            <!-- include tab transaction done -->
            <%- include tab_transaction_done %>

            <!-- include tab transaction cencel -->
            <%- include tab_transaction_cencel %>

          </div>
          <!-- /.tab-content -->
        </div>

        <!-- /.nav-tabs-view -->
      </div>
    </div>
  </section>
</div>
<!-- /.content -->

<!-- include add modal no resi -->
<%- include add_modal_no_resi.ejs %>

<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#transaction-all').DataTable();
    $('#transaction-belum-dibayar').DataTable();
    $('#transaction-perlu-dikirim').DataTable()
    $('#transaction-dikirim').DataTable();
    $('#transaction-perlu-diproses').DataTable();
    $('#transaction-selesai').DataTable();
    $('#transaction-pembatalan').DataTable()

  })

  $('#transaction-perlu-diproses').on('click', '.edit', function () {
    const id = $(this).data('id');
    $('#edit-modal').modal('show');
    $('.id').val(id);
  });

</script>