<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Catalog
    </h1>
    <ol class="breadcrumb">
      <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Catalog</li>
    </ol>
    <% if(alert.message != '') { %>
    <br>
    <div class="alert alert-<%= alert.status %>" style="text-align: center;">
      <strong><%= alert.message %></strong>
    </div>
    <% } %>
  </section>


  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <h3 class="box-title">Data catalogs</h3>
          </div>

          <div class="box-body">
            <div style="margin: 0 20px 20px 20px;">
              <!-- <button class="btn btn-success">Tambah</button> -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-modal">
                Tambah
              </button>
            </div>
            <table id="catalog" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Image</th>
                  <th>Kode</th>
                  <th>Nama Product</th>
                  <th>Stok</th>
                  <th>Harga</th>
                  <th>Varian Warna</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < catalogs.length; i++ ) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td>
                    <% if (catalogs[i].image) { %>
                    <img src="/catalog/<%= catalogs[i].image %>" height="70" width="70" alt="foto" />
                    <% } else { %>
                    Tidak Ada
                    <% } %>
                  </td>
                  <td><%= catalogs[i].code %></td>
                  <td><%= catalogs[i].name %></td>
                  <td><%= catalogs[i].stok %></td>
                  <td><%= catalogs[i].harga %></td>
                  <td><%= catalogs[i].warna %></td>
                  <td>
                    <a href="javascript:void(0);" type="button" class="btn btn-warning btn-sm edit"
                      data-id="<%= catalogs[i].id %>" data-code="<%= catalogs[i].code %>"
                      data-material="<%= catalogs[i].material %>" data-ukuran="<%= catalogs[i].ukuran %>"
                      data-image="<%= catalogs[i].image %>" data-name="<%= catalogs[i].name %>"
                      data-stok="<%= catalogs[i].stok %>" data-harga="<%= catalogs[i].harga %>"
                      data-warna="<%= catalogs[i].warna %>" data-deskripsi="<%= catalogs[i].deskripsi %>">
                      <span class="glyphicon glyphicon-pencil"></span>
                      Edit
                    </a>
                    <button class="btn btn-danger btn-sm" onclick="delete_catalog(`<%= catalogs[i].id %>`)"
                      data-id="<%= catalogs[i].id %>">
                      <span class="glyphicon glyphicon-remove"></span>
                      Delete
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<!-- iclude modal add -->
<%- include add_modal.ejs %>


<!-- iclude modal edit -->
<%- include edit_modal.ejs %>


<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#catalog').DataTable()

    // redirect halaman catalogs
    function halamancatalogs() {
      window.location.replace(window.location.protocol + "//" + window.location.host + '/admin/catalog')
    }

    //showing data to e edit modal 
    $('#catalog').on('click', '.edit', function () {
      const id = $(this).data('id');
      const code = $(this).data('code');
      const name = $(this).data('name');
      const warna = $(this).data('warna');
      const harga = $(this).data('harga');
      const stok = $(this).data('stok');
      const folderImage = $(this).data('image');
      let image = `Foto masih tersimpan dengan nama : ${folderImage}`
      console.log(folderImage)
      const deskripsi = $(this).data('deskripsi');
      const ukuran = $(this).data('ukuran');
      const material = $(this).data('material');
      $('#edit-modal').modal('show');
      $('.id').val(id);
      $('.image').val(image);
      $('.name').val(name);
      $('.warna').val(warna);
      $('.harga').val(harga);
      $('.stok').val(stok);
      $('.code').val(code);
      $('.deskripsi').val(deskripsi);
      $('.ukuran').val(ukuran);
      $('.material').val(material);
    });
  })

  function delete_catalog(id) {
    let CatalogId = id;
    console.log(CatalogId)
    swal({
      title: "Yakin Ingin Menghapus Data Mahasiswa ini?",
      text: "Data yang dihapus, tidak bisa kembali lagi.",
      icon: "warning",
      buttons: true,
      dangerMode: true
    }).then(willDelete => {
      if (willDelete) {
        window.location.assign(`/admin/catalog/delete/${CatalogId}`);
      }
    });
  }
  // validasi foto
  function validasiFile() {
    var inputFile = document.getElementById('inputFoto');
    var pathFile = inputFile.value;
    var ekstensiOk = /(\.jpg|\.jpeg|\.png)$/i;
    if (!ekstensiOk.exec(pathFile)) {
      swal({
        title: "Warning",
        text: "Silahkan upload file yang memiliki ekstensi .jpeg/.jpg/.png",
        icon: "warning",
      });
      inputFile.value = '';
      return false;
    }
  }

  function validasiFileEdit() {
    var inputFile = document.getElementById('inputFotoEdit');
    var pathFile = inputFile.value;
    var ekstensiOk = /(\.jpg|\.jpeg|\.png)$/i;
    if (!ekstensiOk.exec(pathFile)) {
      swal({
        title: "Warning",
        text: "Silahkan upload file yang memiliki ekstensi .jpeg/.jpg/.png",
        icon: "warning",
      });
      inputFile.value = '';
      return false;
    }
  }

</script>